@model BTP.Models.Client.ValidationClietn;
@{
  Layout = null;
}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="~/BtpLogo2.ico">
  <title>Login Client</title>
  <!-- Simple bar CSS -->
  <link rel="stylesheet" href="~/css/simplebar.css">
  <!-- Fonts CSS -->
  <link
    href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- Icons CSS -->
  <link rel="stylesheet" href="~/css/feather.css">
  <!-- Date Range Picker CSS -->
  <link rel="stylesheet" href="~/css/daterangepicker.css">
  <!-- App CSS -->
  <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme" disabled>
  <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme">
</head>

<body class="dark ">
  <div class="wrapper vh-100">
    <div class="row align-items-center h-100">
      <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" method="post" asp-controller="Auth" asp-action="LoginClient">
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="#">
          
            <img src="~/BtpLogo.png" />
          
        </a>
        <h1 class="h6 mb-3">Sign in</h1>
        @if (@ViewData["ErreurLogin"] != null)
       {
            <div class = "alert alert-danger">
                <span class="fe fe-alert-triangle fe-16 mr-2"></span>
                @ViewData["ErreurLogin"]
            </div>
       }
       
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Numéro</label>
          <input type="number" id="inputEmail" asp-for="numero" class="form-control form-control-lg"
            placeholder="Numéro" value="0320723470" autofocus="">
            <span asp-validation-for="numero" class="text-danger"></span>
        </div>
        <div class="checkbox mb-3">
            <label>
              <input type="checkbox" asp-for="resterConnecter"> Stay logged in </label>
          </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Let me in</button>
        <br />
        <!-- <a href="/Auth/Login">Admin</a> -->
        <p class="mt-5 mb-3 text-muted">© 2024</p>
      </form>
    </div>
  </div>
  <script src="~/js/jquery.min.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/moment.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/simplebar.min.js"></script>
  <script src='~/js/daterangepicker.js'></script>
  <script src='~/js/jquery.stickOnScroll.js'></script>
  <script src="~/js/tinycolor-min.js"></script>
  <script src="~/js/config.js"></script>
  <script src="~/js/apps.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
  </script>
</body>

</html>
